@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline:none;
  font-family: 'Segoe UI';
}

html{
  font-size: 62.5%;
}

body{
  width:100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: cornsilk;
}

header{
  margin-top: 20px;
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  padding: 1rem 9%;
  background-color: cornsilk;
  filter: drop-shadow(10px);
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 3rem;
  color: blueviolet;
  font-weight: 800;
  cursor:pointer;
  transition: 0.5s ease;
  font-family: "Pacifio", cursive;
}

.logo:hover{
 transform: scale(1.1);
}

nav a{
  font-size: 1.8rem;
  color:blueviolet;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:active{
  color: deeppink;
  border-bottom: 3px solid deeppink;
}

@media(max-width:995px){
  nav{
    position: absolute;
    top:100%;
    right: 0;
    width:40%;
    border-left:3px solid blueviolet;
    border-bottom: 3px solid blueviolet;
    border-bottom-left-radius: 2rem;
    background-color: cornsilk;
    border-top: 0.1rem solid blueviolet;
  }

  nav.active{
    display: block;
  }

  nav a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  nav a:hover,
  nav a.active{
    padding:1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid deeppink;
  }
}

section{
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color:cornsilk;
}

.home .home-content h1{
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
}

span{
  color:dodgerblue;
  font-family: "Pacifio" , cursive;
}

img {
  padding: 12px;
  height: 55px;
  object-position: bottom
}
h3{
  font-size: 25px;
}
p{
  font-size: 20px
}

.social-icons{
  position: absolute;
  bottom: 20px;
}